@import url("./css/offer.css");
@import url("./css/ARChoicePage.css");

.category-scrollbar-hide::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

.navbar,
.footer,
.category-heading {
    font-family: 'Poppins', sans-serif;
}

.footer h5,
.category-heading {
    font-family: 'Playfair Display', serif;
}